/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* ines down from here*/

.page-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.title-line{
    border-top: 2px dashed #eee;
    display: block;
    margin-bottom: 30px;
}
