<!-- Edit WebQuest Page -->
<div ng-controller="EditQuestCtrl">






    <!-- Page's Title -->
    <p class="page-title"> Edit WebQuest</p>
    <span class="title-line"></span>



    wqf.quest1.$error.required
    <!-- Form WebQuest -->
    <form method="post" role="form" name="wqf">


        <!-- 1st Question and Facility in Accordion -->
        <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open" ng-style="">
                <accordion-heading>
                    1st Question and Facility
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <!-- 1st Question -->
                <div class="form-group">
                    <label> 1st Question </label>
                    <div class="fuck">
                    <textarea ui-tinymce="tinymceOptions" ng-model="webquest.Question1" name="quest1" required>
                    </textarea>
                    </div>
                </div>
                <!-- Facility -->
                <div class="form-group">
                    <label> Facility </label>
                             <select ng-model="webquest.Answer1" ng-options="facility.Id as facility.Name for facility in facilities">
                                 <option> -- select an option -- </option>
                             </select>
                </div>
            </accordion-group>
        </accordion>
        <!-- #1st Question and Facility in Accordion -->





        <!-- 2nd Question and Day of Month in Accordion -->
        <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    2nd Question and Day of Month
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <!-- 2nd Question -->
                <div class="form-group">
                    <label> 2nd Question </label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="webquest.Question2"></textarea>
                </div>
                <!-- Day of Month -->
                <div class="form-group">
                    <label> Day of Month {{webquest.Answer2}} </label>

                    <select ng-model="webquest.Answer2"
                            ng-options="n for n in [] | range:1:30"
                           ></select>
                </div>
            </accordion-group>
        </accordion>
        <!-- #2nd Question and Day of Month in Accordion -->

        <!-- Prizes in Accordion -->
        <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Prizes
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <label> Prizes </label>

                    <textarea ui-tinymce="tinymceOptions" ng-model="webquest.Prizes"></textarea>
                </div>
            </accordion-group>
        </accordion>
        <!-- #Prizes in Accordion -->

        <!-- Rules in Accordion -->
        <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Rules
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <label> Rules </label>

                    <textarea ui-tinymce="tinymceOptions" ng-model="webquest.Rules"></textarea>
                </div>
            </accordion-group>
        </accordion>
        <!-- #Rules in Accordion -->

        <!-- Sponsors in Accordion -->
        <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Sponsors
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <label> Sponsors </label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="webquest.Sponsors"></textarea>
                </div>
            </accordion-group>
        </accordion>
        <!-- #Sponsors in Accordion -->
        <button class="btn btn-default" ng-click="revert()"> Revert</button>
        <button class="btn btn-default" ng-click="submit()"> Submit</button>
    </form>
</div>

